#ProductInfo {
  flex: 1;
}

#Checkout {
  flex: 1;
}

.productContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  padding-bottom: 3vmin;
}

body {
  padding: 1vmin;
}